<?xml version ="1.0" encoding ="utf-8"?>
<config>
    <!--远程放置点-->
    <POS id="1">
        <p>
            <x>270</x>
            <y>270</y>
        </p>
        <p>
            <x>270</x>
            <y>180</y>
        </p>
        <p>
            <x>360</x>
            <y>460</y>
        </p>
        <p>
            <x>600</x>
            <y>180</y>
        </p>
        <p>
            <x>930</x>
            <y>270</y>
        </p>
        <p>
            <x>930</x>
            <y>180</y>
        </p>
        <p>
            <x>840</x>
            <y>450</y>
        </p>
        <p>
            <x>930</x>
            <y>510</y>
        </p>
    </POS>
    <!--近战放置点-->
    <POS id="2">
        <p>
            <x>100</x>
            <y>410</y>
        </p>
        <p>
            <x>200</x>
            <y>410</y>
        </p>
        <p>
            <x>400</x>
            <y>250</y>
        </p>
        <p>
            <x>490</x>
            <y>450</y>
        </p>
        <p>
            <x>600</x>
            <y>350</y>
        </p>
        <p>
            <x>710</x>
            <y>450</y>
        </p>
    </POS>

    <!--陆地路径拐点-->
    <PATH id="ground">
        <p>
            <x>0</x>
            <y>410</y>
        </p>
        <p>
            <x>230</x>
            <y>410</y>
        </p>
        <p>
            <x>330</x>
            <y>350</y>
        </p>
        <p>
            <x>330</x>
            <y>250</y>
        </p>
        <p>
            <x>540</x>
            <y>250</y>
        </p>
        <p>
            <x>540</x>
            <y>450</y>
        </p>
        <p>
            <x>440</x>
            <y>450</y>
        </p>
        <p>
            <x>440</x>
            <y>350</y>
        </p>
        <p>
            <x>760</x>
            <y>350</y>
        </p>
        <p>
            <x>760</x>
            <y>450</y>
        </p>
        <p>
            <x>660</x>
            <y>450</y>
        </p>
        <p>
            <x>660</x>
            <y>250</y>
        </p>
        <p>
            <x>870</x>
            <y>250</y>
        </p>
        <p>
            <x>870</x>
            <y>350</y>
        </p>
        <p>
            <x>970</x>
            <y>410</y>
        </p>
        <p>
            <x>1020</x>
            <y>410</y>
        </p>
    </PATH>
    <!--空中路径拐点-->
    <PATH id="aerial">
        <p>
            <x>0</x>
            <y>410</y>
        </p>
        <p>
            <x>1020</x>
            <y>410</y>
        </p>
    </PATH>
    <BEGIN>
        <x>0</x>
        <y>410</y>
    </BEGIN>
    <END>
        <x>1020</x>
    </END>
</config>


